:host {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url("../assets/94237.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

.main-container {
	max-width: 1120px;
}
