<table mat-table [dataSource]="anime" class="anime-table">
	<ng-container matColumnDef="image">
		<th mat-header-cell *matHeaderCellDef>image</th>
		<td mat-cell *matCellDef="let element"> <img [src]="element.image" class="table-image" /> </td>
	</ng-container>
	<ng-container matColumnDef="title_eng">
		<th mat-header-cell *matHeaderCellDef>title_eng</th>
		<td mat-cell *matCellDef="let element"> {{element.titleEng.length ? element.titleEng : '—'}} </td>
	</ng-container>
	<ng-container matColumnDef="title_jpn">
		<th mat-header-cell *matHeaderCellDef>title_jpn</th>
		<td mat-cell *matCellDef="let element"> {{element.titleJpn}} </td>
	</ng-container>
	<ng-container matColumnDef="aired_start">
		<th mat-header-cell *matHeaderCellDef>aired_start</th>
		<td mat-cell *matCellDef="let element"> {{element.aired.start}} </td>
	</ng-container>
	<ng-container matColumnDef="type">
		<th mat-header-cell *matHeaderCellDef>type</th>
		<td mat-cell *matCellDef="let element"> {{element.type}} </td>
	</ng-container>
	<ng-container matColumnDef="status">
		<th mat-header-cell *matHeaderCellDef>status</th>
		<td mat-cell *matCellDef="let element"> {{element.status}} </td>
	</ng-container>
	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
