table {
	width: 100%;
	background-color: var(--table-color);
	padding: 0 var(--size-3);
}

td,
th {
	text-align: center;
	vertical-align: middle;
	font-size: var(--font-size-md);
	border-bottom: var(--border-sm) solid var(--table-border-color);
	padding: var(--size-3);
}

tr:hover {
	background-color: var(--table-hover-color);
}

.table-image {
	width: var(--table-image-width);
	height: var(--table-image-height);
	object-fit: contain;
}
