table {
	width: 100%;
	background-color: rgb(238 130 238);
	padding: 0 10px;
}

td,
th {
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	border-bottom: 1px solid rgb(138 43 226);
	padding: 10px;
}

tr:hover {
	background-color: rgb(240 98 240);
}

.table-image {
	width: 150px;
	height: 150px;
	object-fit: contain;
}
