:host {
	--studio-image-width: 50px;
	--studio-image-height: 50px;
}

.studio-card {
	background-color: transparent;
	border: none;
}

.studio-card-header {
	display: flex;
	align-items: center;
	padding: 0;
}

.studio-image {
	width: var(--studio-image-width);
	height: var(--studio-image-height);
	border-radius: 50%;
	border: var(--border-sm) solid var(--anime-primary-dark-color);
	object-fit: cover;
	margin: 0;
}

.studio-name {
	padding: 0;
	margin: 0;
	font-size: var(--font-size-sm);
	font-family: var(--main-anime-font-family);
}
