/* stylelint-disable selector-pseudo-element-no-unknown */
:host {
	display: block;
}

.mat-label {
	color: var(--anime-primary-dark-color);
}

.mat-option {
	color: var(--anime-primary-dark-color);
}

::ng-deep .mat-mdc-select {
	color: var(--anime-primary-dark-color) !important;
}

::ng-deep div.mat-mdc-select-panel {
	background-color: var(--anime-primary-light-color) !important;
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-floating-label {
	color: var(--anime-primary-dark-color) !important;
}

::ng-deep .mat-mdc-option {
	color: var(--anime-primary-dark-color) !important;
}

::ng-deep .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
	color: var(--anime-primary-dark-color) !important;
}

::ng-deep .mat-pseudo-checkbox-full {
	border-color: var(--anime-primary-dark-color) !important;
}

::ng-deep .mat-pseudo-checkbox-full.mat-pseudo-checkbox-checked {
	background-color: var(--anime-primary-light-color) !important;
}

::ng-deep .mat-pseudo-checkbox-full.mat-pseudo-checkbox-checked::after {
	color: var(--anime-primary-dark-color) !important;
}

::ng-deep .mat-mdc-select-arrow svg {
	fill: var(--anime-primary-dark-color) !important;
}
