div.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading {
	border-color: var(--anime-primary-dark-color);
}

div.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch {
	border-color: var(--anime-primary-dark-color);
	border-left: none;
}

div.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
	border-color: var(--anime-primary-dark-color);
}

svg.mat-mdc-paginator-icon {
	fill: var(--anime-primary-dark-color);
}

div.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
	background-color: var(--anime-primary-light-color);
}

svg.mat-mdc-icon-button[disabled] .mat-mdc-paginator-icon {
	fill: var(--anime-primary-dark-color-disabled);
}

.mat-sort-header-arrow {
	color: var(--anime-primary-dark-color);
}

.mat-mdc-select {
	color: var(--anime-primary-dark-color);
}

div.ng-trigger.mat-mdc-select-panel {
	background-color: var(--anime-primary-light-color);
}

div.mat-mdc-select-panel .mat-mdc-option {
	background-color: var(--anime-primary-light-color);
	color: var(--anime-primary-dark-color);
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-floating-label {
	color: var(--anime-primary-dark-color);
}

.mat-pseudo-checkbox.mat-mdc-option-pseudo-checkbox.mat-pseudo-checkbox-full {
	border-color: var(--anime-primary-dark-color);
}

.mat-pseudo-checkbox.mat-mdc-option-pseudo-checkbox.mat-pseudo-checkbox-full.mat-pseudo-checkbox-checked {
	background-color: var(--anime-primary-light-color);
	border-color: var(--anime-primary-dark-color);
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) span.mdc-list-item__primary-text {
	color: var(--anime-primary-dark-color);
}

div.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading {
	border-color: var(--anime-primary-dark-color);
}

div.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch {
	border-color: var(--anime-primary-dark-color);
}

div.mat-mdc-form-field.mat-focused .mat-mdc-select-arrow {
	color: var(--anime-primary-dark-color);
}

div.mat-mdc-select-arrow {
	color: var(--anime-primary-dark-color);
}

div.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
	border-color: var(--anime-primary-dark-color);
}

.mat-mdc-select.mat-mdc-select-multiple {
	color: var(--anime-primary-dark-color);
}

.mat-pseudo-checkbox.mat-mdc-option-pseudo-checkbox.mat-pseudo-checkbox-full.mat-pseudo-checkbox-checked::after {
	color: var(--anime-primary-dark-color);
}

svg.mat-mdc-select-arrow svg {
	fill: var(--anime-primary-dark-color);
}

div.mat-mdc-select-arrow-wrapper div.mat-mdc-select-arrow {
	color: var(--anime-primary-dark-color);
}

.mat-mdc-input-element.search-input.mat-mdc-form-field-input-control.mdc-text-field__input {
	color: var(--anime-primary-dark-color);
	caret-color: var(--anime-primary-dark-color);
}
