@import url("text-field.css");
@import url("select.css");
@import url("paginator.css");
@import url("input.css");
@import url("sort-header.css");
@import url("button.css");
@import url("tooltip.css");
@import url("dialog.css");
@import url("menu.css");
@import url("date-picker.css");
@import url("checkbox.css");

.mat-mdc-chip .mat-mdc-chip-action .mdc-evolution-chip__text-label.mat-mdc-chip-action-label {
	color: var(--anime-primary-dark-color);
}

.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color {
	color: var(--anime-primary-dark-color);
}

.chip-grid .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__action--primary::before {
	border-color: var(--anime-primary-dark-color);
}
