svg.mat-mdc-paginator-icon {
	fill: var(--anime-primary-dark-color);
}

.mat-mdc-icon-button[disabled] svg.mat-mdc-paginator-icon {
	fill: var(--anime-primary-dark-color-disabled);
}

.mat-mdc-paginator .mat-mdc-select {
	color: var(--anime-primary-dark-color);
}
