div.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading {
	border-color: var(--anime-primary-dark-color);
}

div.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch {
	border-color: var(--anime-primary-dark-color);
	border-left: none;
}

div.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
	border-color: var(--anime-primary-dark-color);
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-floating-label {
	color: var(--anime-primary-dark-color);
}

div.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading {
	border-color: var(--anime-primary-dark-color);
}

div.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch {
	border-color: var(--anime-primary-dark-color);
}

div.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
	border-color: var(--anime-primary-dark-color);
}

input.mat-mdc-form-field-input-control.mdc-text-field__input.cdk-text-field-autofill-monitored::placeholder {
	color: var(--anime-primary-dark-color-disabled);
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-floating-label .field-title {
	color: var(--anime-primary-dark-color);
}
