:root {
	/* Border sizes */
	--border-sm: 1px;

	/* Small component sizes */
	--space-base: 4px;
	--size-3: 12px;
	--size-4: 16px;
	--size-5: 20px;
	--size-7: 28px;

	/* Font sizes */
	--font-size-md: 20px;
	--font-size-lg: 32px;

	/* Font weights */
	--font-weight-regular: 400;
	--font-weight-medium: 500;
}
