<div class="controls">
	<camp-anime-type-filter
		[types]="(filter$ | async) ?? []"
		(filterValueEmitter)="onFilterValueChange($event)"
	/>
	<camp-search-form
		[search]="(search$ | async) ?? ''"
		(searchValueEmitter)="onSearchValueChange($event)"
	/>
</div>
<camp-anime-table
	[animeList]="(animeList$ | async) ?? []"
	(sortValueEmitter)="onSortChange($event)"
/>
<camp-paginator
	[pageSizes]="pageSizes"
	[pageSize]="(pageSize$ | async) ?? 25"
	[pageNumber]="(pageNumber$ | async) ?? 0"
	[totalCount]="totalCount"
	(pageEventEmitter)="onPageEvent($event)"
/>
