<div class="controls">
	<camp-anime-type-filter
		[types]="(animeTypeFilter$ | async) ?? []"
		(typeFilterChange)="onFilterValueChange($event)"
	/>
	<camp-search-form
		[search]="(search$ | async) ?? ''"
		(searchValueChange)="onSearchValueChange($event)"
	/>
</div>
@if (hasFetchingError$ | async) {
	<h2 class="error">Fetching error occurred!</h2>
} @else {
	<camp-anime-table
		[animeList]="(animeList$ | async) ?? []"
		(sortChange)="onSortChange($event)"
	/>
}
<camp-paginator
	[pageSizes]="pageSizes"
	[pageSize]="(pageSize$ | async) ?? 25"
	[pageNumber]="(pageNumber$ | async) ?? 0"
	[totalCount]="totalCount"
	(pageChange)="onPageEvent($event)"
/>
