<form
	class="auth-form"
	[formGroup]="registrationForm"
	(ngSubmit)="onSubmit()"
>
	<h2 class="title">Register</h2>
	@if (registrationForm.errors?.['passwordMismatch'] && (registrationForm.touched || registrationForm.dirty)) {
	<mat-error class="error">Passwords must match</mat-error>
	}
	@if (hasPasswordError()) {
	<mat-error class="error">Check password. It must contain numeric and alphabetic symbols</mat-error>
	}
	<camp-error [control]="registrationForm.controls.email"></camp-error>
	<mat-form-field appearance="outline" class="field">
		<mat-label class="field-title">Email</mat-label>
		<input
			matInput
			placeholder="example@example.com"
			type="email"
			formControlName="email"
			(change)="authFormService.onValueChange('email')"
		/>
	</mat-form-field>
	<camp-error [control]="registrationForm.controls.firstName"></camp-error>
	<mat-form-field appearance="outline" class="field">
		<mat-label class="field-title">First name</mat-label>
		<input
			matInput
			placeholder="Alex"
			type="text"
			formControlName="firstName"
			(change)="authFormService.onValueChange('firstName')"
		/>
	</mat-form-field>
	<camp-error [control]="registrationForm.controls.lastName"></camp-error>
	<mat-form-field appearance="outline" class="field">
		<mat-label class="field-title">Last name</mat-label>
		<input
			matInput
			placeholder="Brown"
			type="text"
			formControlName="lastName"
			(change)="authFormService.onValueChange('lastName')"
		/>
	</mat-form-field>
	<camp-error [control]="registrationForm.controls.password"></camp-error>
	<mat-form-field appearance="outline" class="field">
		<mat-label class="field-title">Password</mat-label>
		<input
			matInput
			placeholder="er123456"
			type="password"
			formControlName="password"
			(change)="authFormService.onValueChange('password')"
		/>
	</mat-form-field>
	<camp-error [control]="registrationForm.controls.retypedPassword"></camp-error>
	<mat-form-field appearance="outline" class="field">
		<mat-label class="field-title">Retyped password</mat-label>
		<input
			matInput
			placeholder="er123456"
			type="password"
			formControlName="retypedPassword"
			(change)="authFormService.onValueChange('retypedPassword')"
		/>
	</mat-form-field>
	<button mat-flat-button type="submit" class="submit-button">Register</button>
	<button mat-stroked-button type="button" class="form-change-button" (click)="authFormService.onFormChange()">
		Already registered? Login
	</button>
</form>
