<form
	class="auth-form"
	[formGroup]="registrationForm"
	(ngSubmit)="onSubmit()"
>
	<h2 class="title">Register</h2>
	<camp-error [errorMessage]="(hasPasswordMismatchError$ | async) ? errorMessages.mismatch : ''" />
	<camp-error [errorMessage]="(hasPasswordError$ | async) ? errorMessages.weakPassword : ''" />
	<camp-error [errorMessage]="validationService.hasError(controls.email, 'required') ? validationService.getErrorMessage('required') : ''" />
	<camp-error [errorMessage]="validationService.hasError(controls.email, 'email') ? validationService.getErrorMessage('email') : ''" />
	<mat-form-field appearance="outline" class="field">
		<mat-label class="field-title">Email</mat-label>
		<input
			matInput
			placeholder="example@example.com"
			type="email"
			formControlName="email"
		/>
	</mat-form-field>
	<camp-error [errorMessage]="validationService.hasError(controls.firstName, 'required') ? validationService.getErrorMessage('required') : ''" />
	<mat-form-field appearance="outline" class="field">
		<mat-label class="field-title">First name</mat-label>
		<input
			matInput
			placeholder="Alex"
			type="text"
			formControlName="firstName"
		/>
	</mat-form-field>
	<camp-error [errorMessage]="validationService.hasError(controls.lastName, 'required') ? validationService.getErrorMessage('required') : ''" />
	<mat-form-field appearance="outline" class="field">
		<mat-label class="field-title">Last name</mat-label>
		<input
			matInput
			placeholder="Brown"
			type="text"
			formControlName="lastName"
		/>
	</mat-form-field>
	<camp-error [errorMessage]="validationService.hasError(controls.password, 'required') ? validationService.getErrorMessage('required') : ''" />
	<camp-error [errorMessage]="validationService.hasError(controls.password, 'minlength') ? validationService.getErrorMessage('minlength') : ''" />
	<mat-form-field appearance="outline" class="field">
		<mat-label class="field-title">Password</mat-label>
		<input
			matInput
			placeholder="er123456"
			[type]="(isPasswordVisible$ | async) ? 'text' : 'password'"
			formControlName="password"
		/>
		<button
			mat-icon-button
			matSuffix
			type="button"
			(click)="changePasswordVisibility()"
		>
			<mat-icon class="password-visibility">
				{{(isPasswordVisible$ | async) ? 'visibility_off' : 'visibility'}}
			</mat-icon>
		</button>
	</mat-form-field>
	<camp-error [errorMessage]="validationService.hasError(controls.retypedPassword, 'required') ? validationService.getErrorMessage('required') : ''" />
	<mat-form-field appearance="outline" class="field">
		<mat-label class="field-title">Retyped password</mat-label>
		<input
			matInput
			placeholder="er123456"
			[type]="(isPasswordVisible$ | async) ? 'text' : 'password'"
			formControlName="retypedPassword"
		/>
		<button
			mat-icon-button
			matSuffix
			type="button"
			(click)="changePasswordVisibility()"
		>
			<mat-icon class="password-visibility">
				{{(isPasswordVisible$ | async) ? 'visibility_off' : 'visibility'}}
			</mat-icon>
		</button>
	</mat-form-field>
	<button
		mat-flat-button
		type="submit"
		class="submit-button"
	>
		Register
	</button>
	<button
		mat-stroked-button
		type="button"
		class="form-change-button"
		(click)="onFormChange()"
	>
		Already registered? Login
	</button>
</form>
