@import url("../../global/index.css");
@import url("variables.css");

.title {
	color: var(--heading-color-2);
}

.fields {
	display: flex;
	flex-direction: column;
	gap: var(--size-4);
	padding: var(--size-6) 0;
}

.container {
	max-width: var(--container-width);
	height: var(--container-height);
	padding-top: var(--size-2);
	overflow-x: scroll;
	white-space: nowrap;
}
