@import url("../../global/index.css");

.title {
	color: var(--heading-color-2);
}

.fields {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 24px 0;
}

.container {
	max-width: 400px;
	height: 40px;
	padding-top: 10px;
	overflow-x: scroll;
	white-space: nowrap;
}
