<form
	class="auth-form"
	[formGroup]="loginForm"
	(ngSubmit)="onSubmit()"
>
	<h2 class="title">Login</h2>
	@if ((hasLoginError$ | async)) {
		<camp-error [errorMessage]="errorMessages.loginError" />
	}
	@if (validationService.hasError(controls.email, 'required')) {
		<camp-error [errorMessage]="errorMessages.required" />
	}
	@if (validationService.hasError(controls.email, 'email')) {
		<camp-error [errorMessage]="errorMessages.email" />
	}
	<mat-form-field appearance="outline" class="field">
		<mat-label class="field-title">Email</mat-label>
		<input
			matInput
			placeholder="example@example.com"
			type="email"
			formControlName="email"
		/>
	</mat-form-field>
	@if (validationService.hasError(controls.password, 'required')) {
		<camp-error [errorMessage]="errorMessages.required" />
	}
	<mat-form-field appearance="outline" class="field">
		<mat-label class="field-title">Password</mat-label>
		<input
			matInput
			placeholder="er123456"
			type="password"
			formControlName="password"
		/>
	</mat-form-field>
	<button
		mat-flat-button
		type="submit"
		class="submit-button"
	>
		Login
	</button>
	<button
		mat-stroked-button
		type="button"
		class="form-change-button"
		(click)="onFormChange()"
	>
		Not registered yet? Register
	</button>
</form>
