:host {
	/* Header colors */
	--header-background-color: rgb(171 192 216);
	--header-text-color: rgb(0 49 106);

	/* Header sizes */
	--header-height: 72px;

	/* Login button font size. */
	--login-button-font-size: 24px;
}

.header {
	width: 100%;
	position: sticky;

	/* Because of form fields */
	z-index: 2;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 var(--size-5);
	height: var(--header-height);
	background-color: var(--header-background-color);
	color: var(--header-text-color);
}

.title-container {
	display: flex;
	gap: var(--size-5);
	align-items: center;
}

.home-icon {
	color: var(--header-text-color);
	transform: scale(2);
}

.app-title {
	font-size: var(--font-size-lg);
	font-weight: var(--font-weight-regular);
	font-family: Megrim, system-ui;
}

.login-button {
	background-color: var(--header-background-color);
	color: var(--header-text-color);
	font-size: var(--login-button-font-size);
	box-shadow: 0 0;
	font-family: Manrope, sans-serif;
}
