<header class="header">
	<div class="title-container">
		<button mat-icon-button type="button">
			<mat-icon class="home-icon">home</mat-icon>
		</button>

		<h2 class="app-title">Anime Island</h2>
	</div>

	@if (isAuthorized) {
		<button mat-mini-fab type="button" class="profile-button">
			<mat-icon>person</mat-icon>
		</button>
	} @else {
		<button mat-fab extended type="button" class="login-button" (click)="onLogin()">
			<mat-icon>login</mat-icon>
			Login
		</button>
	}
</header>
<router-outlet></router-outlet>
