.default-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.books-app-header {
  display: flex;
  align-items: center;
  font-weight: 700;
  width: 1244px;
  height: 64px;
  border-bottom: 1px solid rgb(0 0 0 / 15%);
}

.books-app-footer {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  width: 1244px;
  height: 128px;
  border-top: 1px solid rgb(0 0 0 / 15%);
}

.books-app-footer-contact {
  display: flex;
  gap: 32px;
}

.books-app-footer-copyright {
  display: flex;
  gap: 8px;
}

.books-app-footer-text {
  font-weight: 700;
}

.books-app-footer-github {
  text-decoration: underline;
}
