.default-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-wrapper {
  width: 1244px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.books-app-header {
  display: flex;
  align-items: center;
  font-weight: 700;
  height: 64px;
  border-bottom: 1px solid rgb(0 0 0 / 15%);
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.books-app-content {
  display: flex;
  gap: 24px;
}

.books-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.books-group-title {
  display: flex;
  gap: 8px;
  position: sticky;
  top: 65px;
  height: 24px;
  width: 100%;
  padding: 16px 0;
  background-color: white;
}

.books {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.book {
  width: 168px;
}

.book-image {
  border-radius: 24px;
}

.filters-wrapper {
  width: 320px;
  position: relative;
}

.filters {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: sticky;
  top: 65px;
  padding-top: 16px;
}

.filters-inner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.search-input {
  height: 48px;
  padding-left: 48px;
  border-radius: 16px;
  border: none;
  background-color: rgb(0 0 0 / 5%);
  background-image: url("../pages/static/heroicons_magnifying-glass.png");
  background-repeat: no-repeat;
  background-position: 12px 12px;
  font-size: 20px;
}

::placeholder {
  color: rgb(0 0 0 / 50%);
}

.select-input {
  height: 48px;
  width: 100%;
  border-radius: 16px;
  border: none;
  background-color: rgb(0 0 0 / 5%);
  font-size: 20px;
  padding-left: 16px;
  appearance: none;
  background-image: url("../pages/static/heroicons_chevron-down.png");
  background-repeat: no-repeat;
  background-position: 90% 12px;
}

.select-input:invalid {
  color: rgb(0 0 0 / 50%);
}

.checkbox-container {
  position: relative;
  display: flex;
  gap: 16px;
}

.checkbox-input {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(0 0 0 / 15%);
  border-radius: 4px;
}

.checkbox-input:checked {
  border: 2px solid #f15924;
}

.checkbox-input:checked ~ .check-mark {
  position: absolute;
  top: 8px;
  left: 9px;
  width: 10px;
  height: 10px;
  background-color: #f15924;
  border-radius: 2px;
  display: block;
}

.books-app-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding: 24px 0;
  height: 128px;
  border-top: 1px solid rgb(0 0 0 / 15%);
}

.books-app-footer-contact {
  display: flex;
  gap: 32px;
}

.books-app-footer-copyright {
  display: flex;
  gap: 8px;
}

.books-app-footer-text {
  font-weight: 700;
}

.books-app-footer-github {
  color: black;
}

.books-footer-app-anchor {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 1280px) {
  .main-wrapper {
    width: 738px;
  }

  .books-app-content {
    flex-direction: column-reverse;
  }

  .books {
    grid-template-columns: repeat(4, 1fr);
  }

  .books-group-title {
    top: 208px;
  }

  .filters-wrapper {
    width: 100%;
    height: 120px;
    border-bottom: 1px solid rgb(0 0 0 / 15%);
    position: sticky;
    top: 64px;
    background-color: white;
    padding-top: 24px;
  }

  .filters {
    position: static;
    width: 100%;
  }

  .filters-inner-wrapper {
    flex-direction: row;
    gap: 32px;
  }
}

@media screen and (max-width: 786px) {
  .main-wrapper {
    width: 312px;
  }

  .books {
    grid-template-columns: repeat(2, 1fr);
  }

  .books p {
    font-size: 16px;
  }

  .books-group-title {
    top: 332px;
  }

  .book {
    width: 148px;
  }

  .book-image {
    width: 100%;
  }

  .filters-wrapper {
    height: 248px;
  }

  .filters-inner-wrapper {
    flex-direction: column;
    gap: 24px;
  }

  .books-app-footer {
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
  }

  .books-app-footer-contact {
    justify-content: space-between;
  }

  .books-footer-app-anchor {
    align-self: flex-end;
  }
}
