/* Disable rule and use !important to override Material styles */
/* stylelint-disable selector-pseudo-element-no-unknown */
:host {
	/* Table sizes */
	--table-image-width: 150px;
	--table-image-height: 150px;

	/* Table header font size */
	--table-header-font-size: 20px;

	display: block;
	overflow-x: auto;
}

.controls {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: var(--size-4);
	background-color: var(--anime-primary-light-color);
}

::ng-deep .mat-mdc-text-field-wrapper {
	flex: none !important;
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading {
	border-color: var(--anime-primary-dark-color) !important;
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch {
	border-color: var(--anime-primary-dark-color) !important;
	border-left: none !important;
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
	border-color: var(--anime-primary-dark-color) !important;
}

.table-image {
	width: var(--table-image-width);
	height: var(--table-image-height);
	object-fit: contain;
}

.anime-table {
	width: 100%;
	background-color: var(--anime-accent-light-color);
	padding: 0 var(--size-3);
}

.mat-header-cell,
.mat-cell {
	text-align: center;
	vertical-align: middle;
	font-size: var(--font-size-md);
	border-bottom: none;
	padding: var(--size-3);
	color: var(--anime-primary-dark-color);
	font-family: Manrope, sans-serif;
}

.mat-header-cell {
	font-size: var(--table-header-font-size);
	border-bottom: var(--border-sm) solid var(--anime-primary-dark-color);
}

.mat-row:hover {
	background-color: var(--anime-primary-light-color);
}

.paginator {
	background-color: var(--anime-primary-light-color);
	font-size: var(--font-size-md);
	color: var(--anime-primary-dark-color);
	font-family: Manrope, sans-serif;
}

::ng-deep .mat-mdc-paginator-icon {
	fill: var(--anime-primary-dark-color) !important;
}

::ng-deep .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
	background-color: var(--anime-primary-light-color) !important;
}

::ng-deep .mat-mdc-icon-button[disabled] .mat-mdc-paginator-icon {
	fill: var(--anime-primary-dark-color-disabled) !important;
}

::ng-deep .mat-sort-header-arrow {
	color: var(--anime-primary-dark-color) !important;
}
