/* Disable rule and use !important to override Material styles */
/* stylelint-disable selector-pseudo-element-no-unknown */
:host {
	/* Table colors */
	--table-background-color: rgb(234 245 247);
	--table-hover-color: rgb(171 192 216);
	--table-text-color: rgb(0 49 106);
	--table-border-color: rgb(0 49 106);

	/* Table sizes */
	--table-image-width: 150px;
	--table-image-height: 150px;

	/* Table header font size */
	--table-header-font-size: 20px;

	/* Paginator colors */
	--paginator-background-color: rgb(171 192 216);
	--paginator-text-color: rgb(0 49 106);
	--paginator-buttons-color: rgb(0 49 106);
	--paginator-disabled-buttons-color: rgb(0 49 106 / 50%);

	/* Sort color */
	--sort-color: rgb(0 49 106);

	/* Controls background color */
	--controls-background-color: rgb(171 192 216);

	/* Text field border color */
	--text-field-border-color: rgb(0 49 106);

	display: block;
	overflow-x: auto;
}

.controls {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: var(--size-4);
	background-color: var(--controls-background-color);
}

::ng-deep .mat-mdc-text-field-wrapper {
	flex: none !important;
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading {
	border-color: var(--text-field-border-color) !important;
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch {
	border-color: var(--text-field-border-color) !important;
	border-left: none !important;
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
	border-color: var(--text-field-border-color) !important;
}

.table-image {
	width: var(--table-image-width);
	height: var(--table-image-height);
	object-fit: contain;
}

.anime-table {
	width: 100%;
	background-color: var(--table-background-color);
	padding: 0 var(--size-3);
}

[mat-header-cell],
[mat-cell] {
	text-align: center;
	vertical-align: middle;
	font-size: var(--font-size-md);
	border-bottom: none;
	padding: var(--size-3);
	color: var(--table-text-color);
	font-family: Manrope, sans-serif;
}

[mat-header-cell] {
	font-size: var(--table-header-font-size);
	border-bottom: var(--border-sm) solid var(--table-border-color);
}

[mat-row]:hover {
	background-color: var(--table-hover-color);
}

.paginator {
	background-color: var(--paginator-background-color);
	font-size: var(--font-size-md);
	color: var(--paginator-text-color);
	font-family: Manrope, sans-serif;
}

::ng-deep .mat-mdc-paginator-icon {
	fill: var(--paginator-buttons-color) !important;
}

::ng-deep .mat-mdc-icon-button[disabled] .mat-mdc-paginator-icon {
	fill: var(--paginator-disabled-buttons-color) !important;
}

::ng-deep .mat-sort-header-arrow {
	color: var(--sort-color) !important;
}
