:host {
	/* Table sizes */
	--table-image-width: 150px;
	--table-image-height: 150px;

	/* Table header font size */
	--table-header-font-size: 20px;

	display: block;
	overflow-x: auto;
}

.error {
	color: var(--error-color);
	font-family: var(--main-anime-font-family);
}

.table-image {
	width: var(--table-image-width);
	height: var(--table-image-height);
	object-fit: contain;
}

.anime-table {
	width: 100%;
	background-color: var(--anime-accent-light-color);
	padding: 0 var(--size-3);
}

.mat-header-cell,
.mat-cell {
	text-align: center;
	vertical-align: middle;
	font-size: var(--font-size-md);
	border-bottom: none;
	padding: var(--size-3);
	color: var(--anime-primary-dark-color);
	font-family: var(--main-anime-font-family);
}

.mat-header-cell {
	font-size: var(--table-header-font-size);
	border-bottom: var(--border-sm) solid var(--anime-primary-dark-color);
}

.mat-row {
	cursor: pointer;
}

.mat-row:hover {
	background-color: var(--anime-primary-light-color);
}
