:root {
	/* Page colors */
	--surface-color: rgb(255 255 255 / 100%);
	--surface-overlay-color: rgb(0 0 0 / 5%);
	--on-surface-color: rgb(0 0 0 / 100%);
	--on-surface-dim-color: rgb(0 0 0 / 50%);
	--primary-color: rgb(241 89 36 / 100%);
	--on-primary-color: rgb(255 255 255);
	--border-color: rgb(0 0 0 / 15%);

	/* Page fonts */
	--subtitle-font: 600 18px/24px inter, sans-serif;
	--subtitle-text-transform: uppercase;
	--body-font: 400 20px/32px inter, sans-serif;
	--body-small-font: 500 16px/24px inter, sans-serif;
	--logo-font: 700 20px/24px inter, sans-serif;

	/* Page sizes */
	--header-height: 64px;
	--main-wrapper-size: 1360px;
	--border-width: 1px;
}
