@if (currentForm() === currentFromEnum.Login) {
	<form class="auth-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
		<h2 class="title">{{currentForm()}}</h2>
		@if (loginError()) {
			<div class="error">No active accout found with given credentials</div>
		}
		@for (field of fields(); track $index) {
			@if (hasError({form: loginForm, fieldName: field.name, validatorName: 'required'})) {
				<div class="error">This field is required</div>
			}
			@if (hasError({form: loginForm, fieldName: field.name, validatorName: 'email'})) {
				<div class="error">This field should be valid email</div>
			}
			<mat-form-field appearance="outline" class="field">
				<mat-label class="field-title">{{field.title}}</mat-label>
				<input matInput [placeholder]="field.placeholder" [type]="field.type" [formControlName]="field.name">
			</mat-form-field>
		}
		<button mat-flat-button type="submit" class="submit-button">{{currentForm()}}</button>
		<button mat-stroked-button type="button" class="form-change-button" (click)="onFormChange()">{{changeFormButtonText()}}</button>
	</form>
} @else {
	<form class="auth-form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
		<h2 class="title">{{currentForm()}}</h2>
		@if (registrationForm.errors?.['passwordMismatch'] && (registrationForm.touched || registrationForm.dirty)) {
			<div class="error">Passwords must match</div>
		}
		@for (field of fields(); track $index) {
			@if (hasError({form: registrationForm, fieldName: field.name, validatorName: 'required'})) {
				<div class="error">This field is required</div>
			}
			@if (hasError({form: registrationForm, fieldName: field.name, validatorName: 'email'})) {
				<div class="error">This field should be valid email</div>
			}
			<mat-form-field appearance="outline" class="field">
				<mat-label class="field-title">{{field.title}}</mat-label>
				<input matInput [placeholder]="field.placeholder" [type]="field.type" [formControlName]="field.name">
			</mat-form-field>
		}
		<button mat-flat-button type="submit" class="submit-button">{{currentForm()}}</button>
		<button mat-stroked-button type="button" class="form-change-button" (click)="onFormChange()">{{changeFormButtonText()}}</button>
	</form>
}
