/* Disable rule and use !important to override Material styles */
/* stylelint-disable selector-pseudo-element-no-unknown */
:host {
	--auth-form-width: 480px;
	--auth-buttons-width: 80%;

	display: flex;
	justify-content: center;
}

.auth-form {
	width: var(--auth-form-width);
	height: fit-content;
	padding: var(--size-8) var(--size-10);
	background-color: var(--anime-accent-light-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	top: 15%;
	border-radius: var(--size-3);
}

.title {
	font-size: var(--font-size-lg);
	color: var(--anime-primary-dark-color);
	margin-bottom: var(--size-5);
}

.field {
	width: 100%;
}

.error {
	color: var(--error-color);
	width: 100%;
	text-align: left;
	margin-bottom: var(--size-3);
}

.submit-button {
	width: var(--auth-buttons-width);
	border-radius: var(--size-2);
	margin-bottom: var(--size-5);
	background-color: var(--anime-primary-dark-color) !important;
	color: var(--anime-accent-light-color) !important;
	border-color: var(--anime-primary-dark-color) !important;
	font-family: var(--main-anime-font-family);
}

.form-change-button {
	width: var(--auth-buttons-width);
	border-radius: var(--size-2);
	background-color: var(--anime-primary-light-color);
	color: var(--anime-primary-dark-color) !important;
	border-color: var(--anime-primary-light-color) !important;
	font-family: var(--main-anime-font-family);
}

.field-title {
	color: var(--anime-primary-dark-color) !important;
	font-family: var(--main-anime-font-family);
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading {
	border-color: var(--anime-primary-dark-color) !important;
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch {
	border-color: var(--anime-primary-dark-color) !important;
	border-left: none !important;
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
	border-color: var(--anime-primary-dark-color) !important;
}

::placeholder {
	color: var(--anime-primary-dark-color-disabled) !important;
	font-family: var(--main-anime-font-family);
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input {
	color: var(--anime-primary-dark-color) !important;
	caret-color: var(--anime-primary-dark-color) !important;
}
